<h1>{{todo ? "Modifier" : "Ajouter"}} une tâche</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Nom</label>
        <input type="text" formControlName="name" class="form-control" />
    </div>

    <div class="form-group">
        <select formControlName="persons">
            <option [ngValue]="null" disabled>Sélectionner une personne</option>
            <option *ngFor="let person of allPersons" [ngValue]="person">
                {{ person.name }}, {{ person.firstname }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">{{todo ? "Modifier" : "Ajouter"}}</button>
    </div>
</form>